<div class="container-fluid mb-5">
  <h1>Bootcamp Enrollement Form</h1>
  <form #userForm="ngForm" (ngSubmit)="OnSubmit()" *ngIf="!submitted" >

    <!--{{userForm.value | json}}
    <hr/>
    {{userModel | json}}-->



    <div class="form-group">
      <label>Name:</label>
      <input type="text" #name="ngModel" required [(ngModel)]="userModel.name" name="name" [class.is-invalid]="name.invalid && name.touched" class="form-control"/>
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>


    {{name.value}}


    <div class="form-group">
      <label>Email:</label>
      <input type="email" [(ngModel)]="userModel.email" name="email" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Phone:</label>
      <input type="tel" [(ngModel)]="userModel.phone" required #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched " name="tel" class="form-control"/>
      

      <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
        <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>

      </div>
    </div>

    <div class="form-group">
      <select required #topic="ngModel" [class.is-invalid]="topic.touched && topic.invalid" class="custom-select" [(ngModel)]="userModel.topic" name="custom">
        <option value="">I'm interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small [class.d-none]="topic.valid || topic.untouched" class="text-danger">please select one topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timepreference" name="timePreference" value="morning" >
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="userModel.timepreference" name="timePreference" value="evening" >
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" [(ngModel)]="userModel.subscribe"  type="checkbox" name="subscribe" >
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <button [disabled]="userForm.form.invalid" class="btn btn-primary" >Submit form</button>

  </form>
</div>